@tailwind base;
@tailwind components;
@tailwind utilities;
.hero {
  background: url("../../public/images/hero.webp");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
